section
  width: 100%
  height: 100vh
  display: flex
  flex-direction: row
  padding: 0rem 0
  @media(max-width: 1000px)
    height: auto
    flex-wrap: wrap
  .col-1, .col-2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0 5.5rem
  .col-1
    // background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(96,96,96,0.2) 100%)
    background: #ebebeb
    width: 40%
    @media(max-width: 1000px)
      padding: 2rem 3rem
    img
      width: 80%
      height: auto
      border-radius: 50%
    h1
      margin-top: 2rem
      text-align: center
      width: 100%
  .col-2
    width: 60%
    @media(max-width: 1000px)
      padding: 0.5rem
    .text
      display: flex
      flex-direction: column
      gap: 3vh
    .contacts
      width: 100%
      margin-top: 9vh
    .btns-container
      margin-top: 3vh
      width: 100%
      display: flex
      flex-direction: row
      gap: 3rem
      a
        border-radius: 100px
        // box-shadow: 0px 0px 6px #00000029
        // border: 1px solid #dddddd
        padding: 10px 15px
        background: #ebebeb
      a:hover
        color: #fff
        background: #2f88ee
  @media(max-width: 1000px)
    .col-1, .col-2
      width: 100%